* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: white;
}

form button {
  color: #fda085;
  background-color: white;
  cursor: pointer; /*coloca a mao quando passa no botão*/
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 00.5rem;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease; /*é para dar movimento às coisas*/
}

li {
  flex: 1; /*ele assume qual a totalidade do campo*/
}

.trash-btn,
.complete-btn {
  background-color: #ff734d;
  border: none;
  color: white;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background-color: green;
}

.trash-btn {
  background-color: red;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
} /*No select para o estelizar temos que remover o estilo pre definido e começar a estelizar*/

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #ff6f47;
  width: 13.5rem;
  cursor: pointer;
  padding: 0.8rem;
  font-size: 1.5rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #ff6f47;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
}

.select:hover::after {
  background-color: white;
  color: #ff6f47;
}

form input:focus {
  /*isto é para mudar a cor do rebordo quando escrevemos*/
  outline-style: solid 2px;
  outline-color: #ff6f47;
}
