body {display: flex;}

div.barr {display: inline-flex; height: 44pt; width: 100%; margin: auto; position: relative;}
nav {width:100%;}

a.logo {text-decoration: none;
    font-size: 15pt;
    font-family: fantasy;
    color: black;
    position: absolute;
    top: 25%;
}

p {font-family: Verdana; text-align: center; vertical-align: 
    middle; padding: 3pt; margin: 0px; position: absolute ;right: 100px; top:25%}


a.id {position: absolute; right: 10px; background-color: rgb(30, 145, 30);
     color: white; border-radius: 20px; padding: 4px 4px; text-decoration: none;position: absolute;
     top: 25%;
    }

.id:hover { background-color: rgb(224, 190, 95);}
.w3:hover {color: rgb(95, 224, 116)}

div.nave { display: inline-flex;
    position: relative;
    font-size: 17px;
    

}

ul {
    background-color: rgb(100, 97, 97);
    color: white;
    margin: 0px auto;
    overflow: hidden; 
    margin: 0pt; 
    padding: 0pt;
    float: left; 
     
}

li {
    list-style-type: none; 
    display: inline; 
    text-align: center;  
}

li a {
    text-decoration: none; 
    color: white; 
    padding: 10pt 10pt; 
    ;
    
}

li a:hover {
    background-color: #111;}


