header{color: red;background-color: yellow;}
nav{background-color: tomato; color:grey}
article{font-size: larger; font-family: Georgia; background-image: url("monarch-butterfly-butterlfy-weed-flower.jpg"); background-position: center; background-attachment: fixed; background-repeat: no-repeat}
footer{border: 2px solid red;}