img {display: block;
    margin: 0px auto;
}

div{
    border: 2px solid blue;
    width: 200pt;
    height: 200pt;
    text-align: center;
    line-height: 200pt;
    display: block;
    margin: 0px auto;
}

p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
table, th, td {border: 1px solid gray;
                margin: 0px auto;
}