.library {
  width: 20rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgb(232, 188, 245);
  overflow-y: scroll;
  box-shadow: 2px 2px 50px rgb(180, 179, 179);
  transform: translateX(-100%); /*a barra foi movimentada 100% para a esquerda*/
  transition: transform 0.5s ease, opacity 0.5s ease;
  h2 {
    padding: 2rem;
  }
  &.open {
    /*equivalente a .library.open*/
    transform: translateX(0);
    opacity: 1;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 20pt;
  transition: 0.5s ease;
  img {
    width: 30%;
  }

  &.selected {
    background-color: rgb(189, 193, 204);
    animation-name: selectedAnimationFrames;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.47, 0, 0.75, 0.72);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
    //Isto para colocar o que está em cima numa linha
    //animation: selectedAnimationFrames 2s cubic-bezier(0.47, 0, 0.75, 0.72) 3s infinite alternate forwards running
  }

  &:hover {
    background-color: rgb(189, 193, 204);
  }
  .song-description {
    padding: 1rem;
  }
}

*::-webkit-scrollbar {
  width: 5pt;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border: transparent;
}

@keyframes selectedAnimationFrames {
  from {
    background-color: rgba(179, 187, 207, 0.8);
  }
  to {
    background-color: rgba(179, 187, 207, 0);
  }
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
