nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background-color: transparent;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 4pt;
    cursor: pointer;
    padding: 0.5rem;
    &:hover {
      /*quando colocamos o rato por cima do botão*/
      background-color: rgb(65, 65, 65);
      color: white;
      transition: all 0.3s ease;
    }
    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10; // isto para colocar o botão visivel quando abrimos a barra lateral
      &:hover {
        background-color: transparent;
        color: rgb(65, 65, 65);
      }
    }
  }
}
