.Player {
  min-height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.time-control {
  width: 50%;
  display: flex;
  align-items: center;
  input {
    width: 100%;
    cursor: pointer;
    padding: 0rem 0rem;
    -webkit-appearance: none;
    background-color: transparent;
  }
}

p {
  padding: 1rem;
}

.play-control {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    /*O svg é o icones do player*/
    cursor: pointer;
  }
}

input [type="range"]:focus {
  outline: none;
}

input [type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: transparent;
}

.track {
  background-color: lightblue;
  width: 100%;
  height: 1rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.animate-track {
  background-color: rgb(204, 204, 204);
  width: calc(100% - 8px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 8px;
  transform: translateX(0%);
  pointer-events: none; //este div vai ficar por cima do div
}

.animate-track-thumb {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  transform: translateX(-50%);
  box-shadow: 2px 2px 50px #cccccc;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  //isto é para colocar os dados para ver no telemovel
  .time-control {
    width: 90%;
  }
  .play-control {
    width: 60%;
  }
}
