* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(
    -45deg,
    rgb(192, 205, 240),
    rgb(232, 188, 245)
  );
  background-size: 400% 400%;
  animation: grandientKeyframes 5s ease infinite;
}

.App {
  min-height: 100vh;
  transition: all 0.5 ease-in-out;
}

.library-active {
  margin-left: 20%;
}

h1,
h2,
h3 {
  color: rgb(78, 78, 78);
}

h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

@keyframes grandientKeyframes {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
