img.align-center {float: left; /*com o float colcoa a imagem à esquerda e o texto aparece logo à direita*/
    display: block;
    margin: 0px auto; /*para ficar sempre centrado na pagina mas antes temos que fazer a linha de cima*/
    }
img.large { 
    width: 500px; 
    height: 500px;} 
img.medium { 
    width: 250px; 
    height: 250px;} 
img.small { 
    width: 100px; 
    height: 100px;} 
body
    {background-image: -moz-linear-gradient(red, yellow);
    background-image: -webkit-linear-gradient(red, yellow);
    background-image: linear-gradient(red, yellow);
    background-repeat: no-repeat;
    }
    
@media only screen and (max-width 600px) {
body {background-color: blue;
    height: 100%;}
} /*se o écra tiver até 600px aplica esta formatações*/