* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lit-yellow {
  color: #fefbc4;
  text-shadow: 2px 2px 20pt #fefbc4;
}

.lit-pink {
  color: rgb(236, 154, 167);
  text-shadow: 2px 2px 20pt rgb(236, 154, 167);
}

.lit-purple {
  color: rgb(117, 11, 117);
  text-shadow: 2px 2px 20pt rgb(117, 11, 117);
}

.lit-red {
  color: red;
  text-shadow: 2px 2px 20pt red;
}

.lit-green {
  color: rgb(11, 199, 11);
  text-shadow: 2px 2px 20pt rgb(11, 199, 11);
}

#bulb-container {
  margin: auto;
}

#light-bulb {
  font-size: 100pt;
  transition: all 1s ease;
}
