div.box {!
    height: 300px;
    width: 300px;
    background-color:#bbbbaa;
    padding: 4px;
    margin: 2px;
    }

p{
width: 200px;
padding: 20px;
border: 2px solid blue;
}
p.caixa {
    margin: 10px auto 10px auto;
}

li {
    display: inline;
    margin-right: 10px;
    }
li.notyet { display: none; }
em { display: block; 