img {
  width: 200pt;
  height: 200pt;
  float: right;
  margin-left:auto;
  margin-right: auto;
  display: block;
}
span.a {
  display: inline; /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;  
  background-color: yellow; 
}

span.b {
  display: inline-block; /*Aqui fica em linha*/
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow; 
}

span.c {
  display: block; /*Aqui fica um em cima e outro em baixo*/
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow; 
}

.nav {
  background-color: yellow; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
.center {
  margin: auto;
  text-align: center;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
img.b {
  margin-left:auto;
  margin-right: auto;
  display: block;
}