
img {
  margin-left:auto;
  margin-right: auto;
  display: block;
}

div {
  border: 3px solid #4CAF50;
  padding: 5px;
}

.clearfix { 
  overflow: auto; /*se no div colocar overflow auto ele coloca a imgem dentro do rectangulo*/
}

.img2 {
  float: right; 
}

input {
  width: 100%;
}

.img3 {
  float: left;  
}

p.clear {
  clear: both; /* coloca o texto onde está a classe a baixo da imagem*/
}