div.static {
    position: static;
    border: 3px solid #73AD21;
  }
div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
  }
div.fixed {
    position: fixed;
    bottom: auto;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
  }
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
  }
div.over {
    background-color: #eee;
    width: 200px;
    height: 100px;
    border: 1px dotted black;
    overflow: scroll;
  }