div.box {
    min-height: 300px;
    min-width: 300px;
    max-height: 500px;
    max-width: 500px;
    background-color: lightgrey;
    overflow: hidden; /*aqui todo o conteudo que sai do background é cortado*/
    overflow-y: scroll; /* aqui todo o conteudo que sai do background é criado um scroll para navegar nos valores*/
    padding: 10px;
    margin: 2px; /* distancia da janela ao quadro*/
    border-width: 2px, 20px, 10px, 30px ; /*top right bottom left se quisermos border diferentes*/
    border-style: dashed;
    border-color: black;
    margin: 10px auto; /* para centrar caixa à tela*/
    visibility: hidden; /*esconde deixando o seu espaço em branco*/

}
/* com o min e max, o background acompanha sempre o texto até alcançar os 500px depois começa a sair do background */

p {height: 75%; 
    width: 75%;}

li {display: inline-block;
    width: 60px;
    height: 60px ;
    margin-right: 10px;}
li.note {display: none;} /* o display = none não mostra os valores*/