* {font-size: 12pt; color: red;} /* com o * ele coloca em todos os selectores esta frmatação*/
.custom {background-color: salmon; font-size: larger; color: slategray;} /* para formatar as classe*/
#First {background-color: springgreen;} /* para formatar as id*/
a{border: 2px solid slategray;}
li>a {margin-left: 2em;} /*margin left é para puxar o texto para a direita e li>a muda só quando tem li e a*/
h1+p{color: yellowgreen;} /* o h1+p só coloco a formatação no p que só no que tiver a seguir ao h1*/
h1~p {background-color: wheat;} /* o h1~p só coloco a formatação em todos os p que tiver a seguir ao h1*/
h1[id] {border: 2px solid green ;} /*coloca a formatação quando o h1 tem um id qualquer*/
a[target=_blank] {border: 2px solid brown;} /*coloca a formatação quando o a tem um targer qualquer*/
[href*="google"] {color: rgb(0, 81, 255);} /*coloca a formatação quando houver href com o valor definido*/
[href^="http"] {color: rgb(0, 60, 255);} /*coloca a formatação quando houver href* em que comece com um http*/
p {font-family: Arial, Helvetica, sans-serif; 
    font-size: 12pt; 
    font-style: italic; 
    font-weight: bold; 
    text-align: center; 
    border: 1px solid red;
    
}
a{text-decoration: none; 
    text-transform: uppercase;} /*ext decorition retira a linha por baixo da palavra associada ao link text-tanf muda para upper, lower,...*/

a:visited{color: red;} /*a:visited coloca a red sempre que abrimos a pagina / clicamos no link*/

img {vertical-align: middle; } /*vertical align é so para imagens, para colocar no topo, no meio, etc*/
/*text-indent coloca o paragrafo z valores para a direita*/
/*para adicionar uma font custom pode fazer w3s font face e ver lá no site como se faz*/

