* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: grey;
  align-items: center;
  flex-direction: column; /*para colocar os elementos em coluna*/
}

#square {
  width: 200pt;
  height: 200pt;
  background-color: rgb(18, 231, 160);
}

#switch {
  padding: 1rem 2rem;
  border: none;
  border-radius: 20pt;
  margin-top: 1rem;
  background-color: rgb(71, 106, 223);
  font-size: large;
  font-weight: bold;
  outline: none; /*para retirar a linha quando clicamos*/
}

#switch::after {
  transform: translateX(20%t) translateY(20%);
  background-color: red;
  width: 200pt;
  height: 50pt;
}
